/* index page style */
body {
    max-width: 950px;
    margin: 30px auto;
}

.indexH1 {
    padding-left: 25px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.product {
    margin: 1rem;
    padding: 1rem;
    background: #E1E1E1;
    border-radius: 1rem;
    border: 1px solid rgb(163, 148, 148);
}

.product a {
    display: inline-block;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    margin: 10px
}

/* details page style */

.details-body {
    max-width: 400px;
    margin: 30px auto;
}

.links {
    padding: 1rem;
    justify-content: space-between;
    display: flex;
}

.link {
    justify-content: space-between;
    display: flex;
}

.link2 {
    justify-content: space-between;
    display: flex;
    max-width: 90%;
}

.home {
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    margin-top: 25px;

}

.back, .contact {
    margin-bottom: 20px;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
}

.contact2 {
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    margin-top: 35px;
}

.details-container {
    border: 1px solid;
    padding: 1rem;
    width: fit-content;
    background-color: #F0F0F0;
}

.image {
    margin-bottom: 1em;
    height: 200px;
    background-repeat: no-repeat;
}

.description {
    max-width: 355px;
}

/* contact page style */

.formMain {
    max-width: 550px;
    padding: 1rem;
    margin: 50px auto;
    border:  1px solid black;
}

.container-form{
    max-width: 90%;
    margin-top: 50px;
}

label {
    display:block;
    margin-top: 20px;
}

.formError {
    display: none;
    font-size: 14px;
    margin-top: 5px;
    color: red;
}

input {
    width: 100%;
    margin-top: 7px;
    padding: 12px;
    font-size: 16px;
}

button {
    margin-top: 20px;
    border: none;
    padding: 1.2rem;
    width: 150px;
    background: #4B7490;
    border-radius: 8px;
    font-size: 20px;
    color: #ffff;
}

.message {
    color: #ffff;
    border-radius: 10px;
    padding: 1rem;
    background: #4B7490;
    font-size: 22px;
}

.loading {
    border: 8px solid rgb(190, 184, 184);
    border-top: 8px solid rgb(51, 139, 0);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin-top: 50px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}