body {
    max-width: 1000px;
    margin: 20px auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.product {
    margin: 1rem;
    padding: 1rem;
    background: white;
    border-radius: 1rem;
    border: 1px solid rgb(163, 148, 148);
}

.product a {
    display: inline-block;
    color: black;
    font-weight: bolder;
    margin: 10px
}

/* details page style */

.details-container {
    width: 377px;
}

.details-h1 {
    text-align: justify;
}

.image {
    margin-bottom: 1em;
    height: 200px;
    width: 365px;
}

.back {
    color: #000000;
    font-weight: bolder;
}

/* contact page style */

.loading {
    border: 8px solid #ddcccc;
    border-top: 8px solid rgb(51, 139, 0);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin-top: 50px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}